In [3]:
#EXERCISE ON TUPLE
#LEVEL 1
# number 1
empty_tuple = ()
print(empty_tuple)

()

In [2]:
#number 2
brother = ('chizaram', 'divine', 'george', 'tobechukwu')
sister = ('grace', 'ebere', 'onyinye', 'ngozi')
print(brother)
print(sister)

('chizaram', 'divine', 'george', 'tobechukwu')
('grace', 'ebere', 'onyinye', 'ngozi')

In [4]:
#number 3
brother = ('chizaram', 'divine', 'george', 'tobechukwu')
sister = ('grace', 'ebere', 'onyinye', 'ngozi')
siblings = brother + sister
print(siblings)

('chizaram', 'divine', 'george', 'tobechukwu', 'grace', 'ebere', 'onyinye', 'ngozi')

In [6]:
#number 4
brother = ('chizaram', 'divine', 'george', 'tobechukwu')
sister = ('grace', 'ebere', 'onyinye', 'ngozi')
siblings = brother + sister
print(len(siblings))

8

In [8]:
#number 5
brother = ('chizaram', 'divine', 'george', 'tobechukwu')
sister = ('grace', 'ebere', 'onyinye', 'ngozi')
siblings = brother + sister
parents= ('charles', 'amaka')
family_name = siblings + parents
print(family_name)

('chizaram', 'divine', 'george', 'tobechukwu', 'grace', 'ebere', 'onyinye', 'ngozi', 'charles', 'amaka')

In [13]:
#LEVEL 2
#number 1
brothers = ('chizaram', 'divine', 'george', 'tobechukwu')
sisters = ('grace', 'ebere', 'onyinye', 'ngozi')
siblings = brothers + sisters
parents= ('charles', 'amaka')
family_name = siblings + parents
siblings = family_name[0:8]
print(siblings)
parents = family_name[8:10]
print(parents)

('chizaram', 'divine', 'george', 'tobechukwu', 'grace', 'ebere', 'onyinye', 'ngozi')
('charles', 'amaka')

In [16]:
#number 2
fruits = ('apple', 'orange', 'lemon', 'grape')
vegetable = ('okro', 'pumpkin', 'scent leaf', 'spinach')
animal_products = ('milk', 'beef', 'pork', 'bacon')
food_stuff_tp = fruits + vegetable + animal_products
print(food_stuff_tp)

('apple', 'orange', 'lemon', 'grape', 'okro', 'pumpkin', 'scent leaf', 'spinach', 'milk', 'beef', 'pork', 'bacon')

In [17]:
#number 3
fruits = ('apple', 'orange', 'lemon', 'grape')
vegetable = ('okro', 'pumpkin', 'scent leaf', 'spinach')
animal_products = ('milk', 'beef', 'pork', 'bacon')
food_stuff_tp = fruits + vegetable + animal_products
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['apple', 'orange', 'lemon', 'grape', 'okro', 'pumpkin', 'scent leaf', 'spinach', 'milk', 'beef', 'pork', 'bacon']

In [18]:
#number 4
fruits = ('apple', 'orange', 'lemon', 'grape')
vegetable = ('okro', 'pumpkin', 'scent leaf', 'spinach')
animal_products = ('milk', 'beef', 'pork', 'bacon')
food_stuff_tp = fruits + vegetable + animal_products
middle_item = food_stuff_tp[5:7]
print(middle_item)

('pumpkin', 'scent leaf')

In [19]:
#number 5
fruits = ('apple', 'orange', 'lemon', 'grape')
vegetable = ('okro', 'pumpkin', 'scent leaf', 'spinach')
animal_products = ('milk', 'beef', 'pork', 'bacon')
food_stuff_tp = fruits + vegetable + animal_products
food_stuff_lt = list(food_stuff_tp)
first_three_items = food_stuff_lt[0:3]
print(first_three_items)
last_three_items = food_stuff_lt[9:12]
print(last_three_items)

['apple', 'orange', 'lemon']
['beef', 'pork', 'bacon']

In [21]:
#number 6
fruits = ('apple', 'orange', 'lemon', 'grape')
vegetable = ('okro', 'pumpkin', 'scent leaf', 'spinach')
animal_products = ('milk', 'beef', 'pork', 'bacon')
food_stuff_tp = fruits + vegetable + animal_products
del food_stuff_tp
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [26]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print('estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True

In [3]:
#EXERCISE ON SET
#LEVEL 1
#number_1
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(it_companies))

#number 2
it_companies.add('Twitter')
print(it_companies)

#number 3
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
New_IT_Companies = {'Accenture', 'SAP', 'Alibaba'}
it_companies.update(New_IT_Companies)
print(it_companies)

#number 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
it_companies.remove("Facebook")
print(it_companies)

#number 5
"""We can remove an item from a set using remove() method. If the item is not found
remove() method will raise errors, so it is good to check if the item exist in the given
set. However, discard() method doesn't raise any errors."""

7
{'Amazon', 'Twitter', 'Google', 'Apple', 'Oracle', 'IBM', 'Microsoft', 'Facebook'}
{'Alibaba', 'IBM', 'Microsoft', 'Facebook', 'SAP', 'Amazon', 'Google', 'Apple', 'Oracle', 'Accenture'}
{'Amazon', 'Google', 'Apple', 'Oracle', 'IBM', 'Microsoft'}

In [11]:
#LEVEL 2

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#number 1
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print(C)
#number 2
A.intersection(B)

{19, 20, 22, 24, 25, 26, 27, 28}

{19, 20, 22, 24, 25, 26}

In [14]:
#number 3
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A.issubset(B)

True

In [15]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A.issubset(B)

#NUMBER 4
B.isdisjoint(A)

False

In [20]:
#number 5
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print(C)
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
D = B.union(A)
print(D)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [21]:
#number 6
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A.symmetric_difference(B)

{27, 28}

In [25]:
#NUMBER 7
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
del A

In [23]:
#NUMBER 7
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
del B

In [30]:
#LEVEL 3
#number 1
age = [22, 19, 24, 25, 26, 24, 25, 24]
ages = set(age)
print(ages)
print(len(ages))
print(len(age))

{19, 22, 24, 25, 26}
5
8

In [ ]:
#number 2
"""A. Set is a collection of items.Set is a collection of unordered and un-indexed distinct elements. In Python set is used
to store unique items, and it is possible to find the union, intersection, difference,
symmetric difference, subset, super set and disjoint set among sets."""
"""B. A tuple is a collection of different data types which is ordered and unchangeable
(immutable). Tuples are written with round brackets, (). """
C. list are used to store multiple variables in a single variable.it is ordered,changeable amd allows duplicate values
D. String are values assigned to variables.it has a quotation mark above any word or number.

In [34]:
unique_words = ["I am a teacher" "and" "I love to inspire" "and" "teach people"]
len(unique_words)
print(unique_words)

['I am a teacherandI love to inspireandteach people']